.idea
.history
.vscode
.DS_Store
__pycache__
*.spec
Misc/
env/

dist/
build/
*.csv
*.log
output/
*.sublime-workspace

*.obj
scratchpad.py
*.code-workspace

pandas_dataframe_notes.py
sigparse/
haasnlp.py
tradingviewta.py
haasnlp.py
haasnlp2.py
*.gz
*.pydevinfo
ARCHIVE_ITEM_PYMODULE
ARCHIVE_ITEM_PYPACKAGE
ARCHIVE_ITEM_PYSOURCE
pyex.py
*.exe
new_sentiment.py
*.xml
twitter_parser.py
bitpeaks_twitter_parser.py
test-output.xml
