blessed==1.19.0
certifi==2021.10.8
charset-normalizer==2.0.12
haasomeapi==3.2.4.1
idna==3.3
inquirer==2.8.0
inquirerpy==0.3.0
loguru==0.6.0
numpy==1.22.3
pandas==1.4.1
pfzy==0.3.4
prompt-toolkit==3.0.28
python-dateutil==2.8.2
python-editor==1.0.4
pytz==2022.1
readchar==2.0.1
requests==2.27.1
six==1.16.0
urllib3==1.26.9
wcwidth==0.2.5
